<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
     >

  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="Elmah.Io.Nlog" />
  </extensions>

  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="file" fileName="${Shop}/logs/${shortdate}.txt"
           layout="${longdate} ${aspnet-request:servervariable=URL} ${uppercase:${level}} ${message}" />


  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
  
  
</nlog>