@model Shop.ViewModels.OrderRealizedEmail
Content-Type: text/html; charset=utf-8

<html>
<body>
    <p>Dziękujemy!</p>
    <p>Twoje zamówienie nr @Model.NumberOrder</p>
    <p>złożone w serwisie praktyczne kursy zostało zrealizowane.</p>
    <p>Zapraszamy ponownie - odwiedź nas wkrótce</p>
</body>
</html>
